/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #C32621;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -100px;
}
#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  color: #C32621;
}
#topbar .contact-info i {
  color: #C32621;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}
#topbar .contact-info i:first-child {
  margin-left: 0;
}
#topbar .social-links a {
  color: #444444;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a:hover {
  color: #C32621;
}
#topbar .social-links a:first-child {
  border-left: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
background: #fff;
transition: all 0.5s;
z-index: 997;
padding: 15px 0;
top: 40px;
box-shadow:0px 12px 20px rgb(116 116 117 / 15%);
}
#header.header-scrolled {
top: 0;
}
#header .logo {
font-size: 30px;
margin: 0;
padding: 0;
line-height: 1;
font-weight: 700;
letter-spacing: 0.5px;
font-family: "Poppins", sans-serif;
}
#header .logo a {
color: #C32621;
}
#header .logo img {
max-height: 55px;
}

/**
* Appointment Button *
*/
.appointment-btn {
margin-left: 25px;
border: 1px solid #C32621;
background: #C32621;
color: #fff;
border-radius: 50px;
padding: 8px 25px;
white-space: nowrap;
transition: 0.3s;
font-size: 14px;
display: inline-block;
}
.appointment-btn:hover {
background: #fff;
border: 1px solid #C32621;
color: #C32621;
}
@media (max-width: 768px) {
.appointment-btn {
  margin: 0 15px 0 0;
  padding: 6px 18px;
}
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
padding: 0;
}
.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}
.navbar li {
position: relative;
}
.navbar > ul > li {
position: relative;
white-space: nowrap;
padding: 8px 0 8px 20px;
}
.navbar a, .navbar a:focus {
display: flex;
align-items: center;
justify-content: space-between;
font-size: 14px;
color: #2c4964;
white-space: nowrap;
transition: 0.3s;
border-bottom: 2px solid #fff;
padding: 5px 2px;
}
.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
color: #C32621;
border-color: #C32621;
}
.navbar .dropdown ul {
display: block;
position: absolute;
left: 20px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: 0.3s;
}
.navbar .dropdown ul li {
min-width: 200px;
}
.navbar .dropdown ul a {
padding: 10px 20px;
font-size: 14px;
font-weight: 500;
text-transform: none;
color: #082744;
border: none;
}
.navbar .dropdown ul a i {
font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
color: #C32621;
}
.navbar .dropdown:hover > ul {
opacity: 1;
top: 100%;
visibility: visible;
}
.navbar .dropdown .dropdown ul {
top: 0;
left: calc(100% - 30px);
visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
opacity: 1;
top: 0;
left: 100%;
visibility: visible;
}
@media (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
  left: -90%;
}
.navbar .dropdown .dropdown:hover > ul {
  left: -100%;
}
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
color: #2c4964;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
color: #fff;
}

@media (max-width: 991px) {
.mobile-nav-toggle {
  display: block;
}

.navbar ul {
  display: none;
}
}
.navbar-mobile {
position: fixed;
overflow: hidden;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: rgba(28, 47, 65, 0.9);
transition: 0.3s;
z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
position: absolute;
top: 15px;
right: 15px;
}
.navbar-mobile ul {
display: block;
position: absolute;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
background-color: #fff;
overflow-y: auto;
transition: 0.3s;
}
.navbar-mobile > ul > li {
padding: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
padding: 10px 20px;
font-size: 15px;
color: #2c4964;
border: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
color: #C32621;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
margin: 15px;
}
.navbar-mobile .dropdown ul {
position: static;
display: none;
margin: 10px 20px;
padding: 10px 0;
z-index: 99;
opacity: 1;
visibility: visible;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
min-width: 200px;
}
.navbar-mobile .dropdown ul a {
padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
color: #C32621;
}
.navbar-mobile .dropdown > .dropdown-active {
display: block;
}


/*--------------------------------------------------------------
# Common Container Section
--------------------------------------------------------------*/

.h4{
color: #C32621;
font-weight: bold;
}

#commonContainer .course, #commonContainer.scholarship {
text-align: left;
}

/* #commonContainer .scholarship .scholar-card .card{
min-height: 200px;  
} */

#commonContainer .image-box{
max-height: 185px;
}

#commonContainer .event-date i {
color: #C32621;
font-weight: bold;
}

#commonContainer .image-box:hover img{  
opacity: 0.6;
}

#commonContainer .image-box .img-thumbnail{
border: 0;
border-radius: 0;
}

#commonContainer .gallery .card-title{
color: #C32621;
}

#commonContainer .gallery .card-text{
color: rgb(151, 151, 151);
font-weight: normal;
}

#commonContainer .card:hover img {
transform: scale(1.1);
}

#commonContainer .card {
overflow: hidden;
}

#commonContainer .card img {
transition: all ease-in-out 0.4s;
}

#commonContainer .nav-link {
color: #000;
background-color: #dedede;
}

#commonContainer .nav-pills .nav-link {
border-radius: 0;
}

#commonContainer .nav-pills .nav-link.active {
background-color: #C32621;
color: #fff;
}

.h5{
font-weight: bold;
color: #5a5a5a;
}


#commonContainer {
line-height: 26px;
color: #6b6b6b;
/* text-align: justify; */
font-size: small;
}

#commonContainer .section-title {
text-align: left;
padding: 20px 0;
}

#commonContainer .card-title {
font-size: medium;
}

#commonContainer .section-title h2{
font-size: 23px;
margin-bottom: 0;
padding-bottom: 0;
}

#commonContainer .section-title h2::before{
position: initial;
display: none;
background-color: #C32621;
}

#commonContainer .section-title h2::after {
position: initial;
background-color: #C32621;  
margin-top: 15px;
height: 2px;
}

#commonContainer .card-text{
color: #C32621;
font-weight: bold;
}

/*--------------------------------------------------------------
# Management Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero2 {
height: 300px;
}

#hero {
width: 100%;
height: calc(70vh);
padding: 0;
overflow: hidden;
background: #000;
top: 125px;
/* margin-bottom: -200px; */
/* position: relative;
z-index: -1; */
}
#hero .carousel-item {
width: 100%;
height: calc(70vh);
background-size: cover;
background-position: top right;
background-repeat: no-repeat;
overflow: hidden;
}
#hero .carousel-item::before {
content: "";
/* background-color: rgba(13, 30, 45, 0.6); */
/* position: absolute; */
/* height: 100%;
width: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: hidden; */
}
#hero .carousel-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
top: 600;
left: 200;
right: 0;
overflow: hidden;
}
#hero .carousel-content {
text-align: left;
background: rgba(0,0,0,0.8);
padding: 20px;
max-width: 700px;
}
@media (max-width: 992px) {
#hero, #hero .carousel-item {
  height: calc(70vh - 70px);
  /* position: relative;
  z-index: -1; */
  top: 125px;
}
#hero .carousel-content.container {
  padding: 0 50px;
}
}
#hero h2 {
color: #ffcf00;
margin-bottom: 30px;
font-size: 25px;
font-weight: 900;
}
#hero p {
/* width: 80%; */
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
color: #fff;
font-size: 14px;
}
#hero .carousel-inner .carousel-item {
transition-property: opacity;
background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
opacity: 1;
transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
left: 0;
transform: translate3d(0, 0, 0);
}
#hero .carousel-control-prev, #hero .carousel-control-next {
width: 10%;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
background: none;
font-size: 48px;
line-height: 1;
width: auto;
height: auto;
}
#hero .carousel-indicators li {
cursor: pointer;
}
#hero .btn-get-started {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 12px 32px;
border-radius: 5px;
transition: 0.5s;
line-height: 1;
margin: 10px;
color: #fff;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
border: 0;
background: #fff;
color: #C32621;
}
#hero .btn-get-started:hover {
color: #fff;
background: #C32621;
}
@media (max-width: 768px) {
#hero h2 {
  font-size: 28px;
}
}
@media (max-height: 500px) {
#hero, #hero .carousel-item {
  height: 100vh;
  /* position: relative;
  z-index: -1; */
  top: 125px;
}
}
@media (min-width: 1024px) {
#hero p {
  /* width: 60%; */
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 5%;
}
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 60px 0;
overflow: hidden;
}

.section-bg {
background-color: #f1f7fd;
}

.section-title {
text-align: center;
padding-bottom: 30px;
}
.section-title h2 {
font-size: 32px;
font-weight: bold;
margin-bottom: 20px;
padding-bottom: 20px;
position: relative;
color: #303030;
}
.section-title h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: #ddd;
bottom: 1px;
left: calc(50% - 60px);
}
.section-title h2::after {
content: "";
position: absolute;
display: block;
width: 40px;
height: 3px;
background: rgba(0,0,0,0.2);
bottom: 0;
left: calc(50% - 20px);
}
.section-title p {
margin-bottom: 0;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
padding: 20px 0;
background-color: #f1f7fd;
min-height: 40px;
margin-top: 120px;
}
@media (max-width: 992px) {
.breadcrumbs {
  margin-top: 100px;
}
}
.breadcrumbs h2 {
font-size: 24px;
font-weight: 300;
margin: 0;
}
@media (max-width: 992px) {
.breadcrumbs h2 {
  margin: 0 0 10px 0;
}
}
.breadcrumbs ol {
display: flex;
flex-wrap: wrap;
list-style: none;
padding: 0;
margin: 0;
font-size: 14px;
}
.breadcrumbs ol li + li {
padding-left: 10px;
}
.breadcrumbs ol li + li::before {
display: inline-block;
padding-right: 10px;
color: #6c757d;
content: "/";
}
@media (max-width: 768px) {
.breadcrumbs .d-flex {
  display: block !important;
}
.breadcrumbs ol {
  display: block;
}
.breadcrumbs ol li {
  display: inline-block;
}
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
padding: 20px;
background: #C32621;
border-radius: 4px;
color: #fff;
border: 5px solid white;
width: -webkit-fill-available;
}
.why-us .content h3 {
font-weight: 700;
font-size: 18px;
margin-bottom: 30px;
background: #fff;
color: #303030;
padding: 10px;
border-radius: 6px;
text-align: center;
}
.why-us .content p {
margin-bottom: 30px;
}
.why-us .content marquee {
max-height: 250px;
}

.why-us .content marquee ul {
list-style-type: none;
}

.why-us .content marquee ul li{
font-size: 12px;
padding: 10px 0 10px 0;
border-bottom: 1px solid rgba(255,255,255,0.3);
}

.why-us .content marquee ul li p{  
  margin-bottom: 0;
  opacity: 0.7;
}

.why-us .content marquee ul li p a{  
  color:#f3c326;
  opacity: 1 !important;
}

.why-us .content .more-btn {
display: inline-block;
background: rgba(255, 255, 255, 0.2);
padding: 6px 30px 8px 30px;
color: #fff;
border-radius: 50px;
transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
font-size: 14px;
}
.why-us .content .more-btn:hover {
color: #C32621;
background: #fff;
}
.why-us .icon-boxes .icon-box {
text-align: center;
border-radius: 10px;
background: rgb(243, 243, 243);
padding: 30px;
width: 100%;
}

.why-us .icon-boxes .icon-box:hover {
background: #474436;
color: #fff;
box-shadow: 9px 2px 15px rgb(0 0 0 / 3%);
}

.why-us .icon-boxes .icon-box:hover > i, .why-us .icon-boxes .icon-box:hover > p {
color: #fff;
}

.why-us .icon-boxes .icon-box i {
font-size: 40px;
color: #474436;
margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
font-size: 20px;
font-weight: 700;
margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
font-size: 12px;
color: #848484;
}


/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
padding: 30px;
position: relative;
overflow: hidden;
background: #fff;
box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
transition: all 0.3s ease-in-out;
border-radius: 8px;
z-index: 1;
}
.featured-services .icon-box::before {
content: "";
position: absolute;
background: #cbe0fb;
right: 0;
left: 0;
bottom: 0;
top: 100%;
transition: all 0.3s;
z-index: -1;
}
.featured-services .icon-box:hover::before {
background: #106eea;
top: 0;
border-radius: 0px;
}
.featured-services .icon {
margin-bottom: 15px;
}
.featured-services .icon i {
font-size: 48px;
line-height: 1;
color: #106eea;
transition: all 0.3s ease-in-out;
}
.featured-services .title {
font-weight: 700;
margin-bottom: 15px;
font-size: 18px;
}
.featured-services .title a {
color: #111;
}
.featured-services .description {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
}
.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
color: #fff;
}
.featured-services .icon-box:hover .icon i {
color: #fff;
}


/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments {
overflow: hidden;
}
.departments .nav-tabs {
border: 0;
}
.departments .nav-link {
border: 0;
padding: 12px 15px 12px 0;
transition: 0.3s;
color: #303030;
border-radius: 0;
border-right: 2px solid #ebf1f6;
font-weight: 600;
font-size: 15px;
}
.departments .nav-link:hover {
color: rgb(69, 67, 56, 0.5);
}
.departments .nav-link.active {
color: #ffcf00;
border-color: #ffcf00;
}
.departments .tab-pane.active {
-webkit-animation: fadeIn 0.5s ease-out;
animation: fadeIn 0.5s ease-out;
}
.departments .details h3 {
font-size: 26px;
font-weight: 600;
margin-bottom: 20px;
color: #ffcf00;
}
.departments .details p {
color: #777777;
}
.departments .details p:last-child {
margin-bottom: 0;
}
@media (max-width: 992px) {
.departments .nav-link {
  border: 0;
  padding: 15px;
}
.departments .nav-link.active {
  color: #fff;
  background: #ffcf00;
}
}



/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
overflow: hidden;
border-right: 3px solid #fff;
border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
transform: scale(1.1);
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.items{
width:90%;
margin:0px auto;
margin-top: 100px;
}
.slick-slide{
margin:10px;
}
.slick-slide img{
width:100%;
border: 0px solid #fff;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
padding-left: 50px;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
overflow: hidden;
}
.testimonials .testimonial-item {
box-sizing: content-box;
padding: 30px 30px 30px 60px;
margin: 30px 15px;
min-height: 200px;
box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
position: relative;
background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
width: 90px;
border-radius: 10px;
border: 6px solid #fff;
position: absolute;
left: -45px;
}
.testimonials .testimonial-item h3 {
font-size: 18px;
font-weight: bold;
margin: 10px 0 5px 0;
color: #111;
}
.testimonials .testimonial-item h4 {
font-size: 14px;
color: #999;
margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
color: rgba(195, 38, 33, 0.2);
font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
display: inline-block;
left: -5px;
position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
display: inline-block;
right: -5px;
position: relative;
top: 10px;
}
.testimonials .testimonial-item p {
font-style: italic;
margin: 15px auto 15px auto;
}
.testimonials .swiper-pagination {
margin-top: 20px;
position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #fff;
opacity: 1;
border: 1px solid #C32621;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
background-color: #C32621;
}
@media (max-width: 767px) {
.testimonials .testimonial-wrap {
  padding-left: 0;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  padding: 30px;
  margin: 15px;
}
.testimonials .testimonial-item .testimonial-img {
  position: static;
  left: auto;
}
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
padding: 10px 0;
}
.contact .info {
width: 100%;
background: #fff;
}
.contact .info i {
font-size: 20px;
color: #1977cc;
float: left;
width: 44px;
height: 44px;
background: #d6e9fa;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
transition: all 0.3s ease-in-out;
}
.contact .info h4 {
padding: 0 0 0 60px;
font-size: 22px;
font-weight: 600;
margin-bottom: 5px;
color: #2c4964;
}
.contact .info p {
padding: 0 0 0 60px;
margin-bottom: 0;
font-size: 14px;
color: #4b7dab;
}
.contact .info .email, .contact .info .phone {
margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
background: #1977cc;
color: #fff;
}
.contact .php-email-form {
width: 100%;
background: #fff;
}
.contact .php-email-form .form-group {
padding-bottom: 8px;
}
.contact .php-email-form .error-message {
display: none;
color: #fff;
background: #ed3c0d;
text-align: left;
padding: 15px;
font-weight: 600;
}
.contact .php-email-form .error-message br + br {
margin-top: 25px;
}
.contact .php-email-form .sent-message {
display: none;
color: #fff;
background: #18d26e;
text-align: center;
padding: 15px;
font-weight: 600;
}
.contact .php-email-form .loading {
display: none;
background: #fff;
text-align: center;
padding: 15px;
}
.contact .php-email-form .loading:before {
content: "";
display: inline-block;
border-radius: 50%;
width: 24px;
height: 24px;
margin: 0 10px -6px 0;
border: 3px solid #18d26e;
border-top-color: #eee;
-webkit-animation: animate-loading 1s linear infinite;
animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
border-radius: 0;
box-shadow: none;
font-size: 14px;
}
.contact .php-email-form input {
height: 44px;
}
.contact .php-email-form textarea {
padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
background: #1977cc;
border: 0;
padding: 10px 35px;
color: #fff;
transition: 0.4s;
border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
background: #1c84e3;
}
@-webkit-keyframes animate-loading {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes animate-loading {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
color: #444444;
font-size: 14px;
background: #f1f7fd;
}
#footer .footer-top {
padding: 60px 0 30px 0;
background: #fff;
box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#footer .footer-top .footer-contact {
margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
font-size: 22px;
margin: 0 0 30px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 700;
}
#footer .footer-top .footer-contact p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Raleway", sans-serif;
color: #777777;
}
#footer .footer-top h4 {
font-size: 16px;
font-weight: bold;
color: #444444;
position: relative;
padding-bottom: 12px;
}
#footer .footer-top .footer-links {
margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}
#footer .footer-top .footer-links ul i {
padding-right: 2px;
color: #C32621;
font-size: 18px;
line-height: 1;
}
#footer .footer-top .footer-links ul li {
padding: 10px 0;
display: flex;
align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}
#footer .footer-top .footer-links ul a {
color: #777777;
transition: 0.3s;
display: inline-block;
line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
text-decoration: none;
color: #C32621;
}
#footer .footer-newsletter {
font-size: 15px;
}
#footer .footer-newsletter h4 {
font-size: 16px;
font-weight: bold;
color: #444444;
position: relative;
padding-bottom: 12px;
}
#footer .footer-newsletter form {
margin-top: 30px;
background: #fff;
padding: 6px 10px;
position: relative;
border-radius: 50px;
text-align: left;
border: 1px solid rgba(0,0,0,0.2);
}
#footer .footer-newsletter form input[type=email] {
border: 0;
padding: 4px 8px;
width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
position: absolute;
top: 0;
right: 0;
bottom: 0;
border: 0;
background: none;
font-size: 16px;
padding: 0 20px;
background: #444444;
color: #fff;
transition: 0.3s;
border-radius: 50px;
}
#footer .footer-newsletter form input[type=submit]:hover {
background: rgba(0,0,0,0.5);
}
#footer .credits {
padding-top: 5px;
font-size: 13px;
color: #444444;
}
#footer .social-links a {
font-size: 18px;
display: inline-block;
background: #444444;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}
#footer .social-links a:hover {
background: #C32621;
color: #fff;
text-decoration: none;
}
#footer h3 {
font-size: 1rem;
}

/*--------------------------------------------------------------
# Contact us
--------------------------------------------------------------*/